h1{
    background-color: aqua;
    font-family: fantasy;
}

h2{
    background-color: chartreuse;
}

.card{
    width: 250px;
    margin-top: 5px;
    font-family: fantasy;
}

div{
    background-color: brown;
    color: cyan;
    font-family: fantasy;
}

.nav{
    text-align: center;
    text-decoration: none;
}
